div[data-testid="stMetric"] {
    padding: 20px 20px 20px 70px;
    background-color: rgb(39, 39, 49); 
}
.stTable {
    text-align: left;
}
span {
    margin: 0;
}
h3 {
    text-align: center;
}
.contact {
    bottom: 0;
    color: rgb(101, 105, 110) !important;
    text-decoration: none !important;
}